:root {
    --background: #fff;
    --gradualBackground: linear-gradient(to right bottom, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --fontColor: #000;
    --borderColor: rgba(0, 0, 0, 0.5);
    --borderHoverColor: hsla(0, 0%, 43.1%, 0.4);
    --articleFontColor: #1f1f1f;
    --articleGreyFontColor: #616161;
    --commentContent: #f7f9fe;
    --themeBackground: orange;
    --gradualRed: linear-gradient(90deg, #ff4b2b, #ff416c);
    --rippleColor: rgba(0, 0, 0, 0.5);
    --toolbarFont: #333;
    --toolbarBackground: #fff;
    --greyFont: #797979;
    --maxGreyFont: #595a5a;
    --gradientBG: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    --whiteMask: hsla(0, 0%, 100%, 0.3);
    --maxWhiteMask: hsla(0, 0%, 100%, 0.5);
    --maxMaxWhiteMask: hsla(0, 0%, 100%, 0.7);
    --miniWhiteMask: hsla(0, 0%, 100%, 0.15);
    --transparent: transparent;
    --miniMask: rgba(0, 0, 0, 0.15);
    --mask: rgba(0, 0, 0, 0.3);
    --translucent: rgba(0, 0, 0, 0.5);
    --maxMask: rgba(0, 0, 0, 0.7);
    --white: #fff;
    --red: red;
    --lightRed: #ff4b2b;
    --maxLightRed: #ff416c;
    --orangeRed: #ef794f;
    --azure: #ecf7fe;
    --blue: #03a9f4;
    --lightGray: #ddd;
    --maxLightGray: #eee;
    --maxMaxLightGray: hsla(0, 0%, 94.9%, 0.5);
    --lightGreen: #39c5bb;
    --green: #67c23a;
    --black: #000;
    --lightYellow: #f4e1c0;
}