<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzr.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.lzr.entity.Article">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="articleImg" column="article_img" jdbcType="VARCHAR"/>
            <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
            <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
            <result property="articleViews" column="article_views" jdbcType="INTEGER"/>
            <result property="isVisible" column="is_visible" jdbcType="INTEGER"/>
            <result property="isTop" column="is_top" jdbcType="INTEGER"/>
            <result property="isComment" column="is_comment" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="INTEGER"/>
            <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
            <result property="sortId" column="sort_id" jdbcType="INTEGER"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,article_img,article_title,
        article_content,article_views,is_visible,
        is_top,is_comment,create_time,
        update_time,create_by,update_by,
        sort_id,del_flag
    </sql>
</mapper>
