:root {
    /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* background-color: #FFF; */
    /* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); */
}

.icon-topBar {
    font-size: 20;
    stroke-linejoin: round;
    stroke-width: 3;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.arco-menu-horizontal .arco-menu-inner {
    margin: 0 !important;
    padding: 0 !important;
}

.arco-menu-selected-label {
    bottom: 0 !important;
}

.arco-menu,
.arco-menu-item {
    background-color: transparent !important;
    color: #eee !important;
}

.arco-menu-light .arco-menu-item:hover {
    background-color: rgba(10, 47, 64, 0.5) !important;
}

/* .topBar {
    color: #fff !important;
}

.arco-menu-light {
    background-color: transparent !important;
} */


body {
    background: linear-gradient(90deg, rgba(247, 149, 51, .1), rgba(243, 112, 85, .1) 15%, rgba(239, 78, 123, .1) 30%, rgba(161, 102, 171, .1) 44%, rgba(80, 115, 184, .1) 58%, rgba(16, 152, 173, .1) 72%, rgba(7, 179, 155, .1) 86%, rgba(109, 186, 130, .1))
}


#app {}